.credit-symbol {
    text-align: center;
    color: rgb(194, 191, 191);
}

footer #text-footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-column {
    flex-basis: 30%;
    vertical-align: top;
}

footer {
    background-color: #333;
    font-family: 'Hammersmith One', sans-serif;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    text-align: center;
    left: 0;
}

footer .footer-column p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width:900px) {
    #footer-text {
        flex-direction: column;
    }
    .footer-column {
        flex-basis: 100%;
    }
    footer p {
        font-size: 16px;
    }
    footer .footer-column p {
        font-size: 18px;
    }
}