@media (max-width:3000px) {
    footer {
        background-color: #333;
        font-family: 'Hammersmith One', sans-serif;
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        width: 90%;
        padding-top: 3%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
        text-align: center;
        left: 0;
        margin-top: 50%;
    }
    #text-footer {
        column-count: 3;
    }
    footer img {
        width: 10%;
        float: left;
    }
}

@media (max-width:2200px) {
    footer {
        font-size: 22px;
    }
}

@media (max-width:1700px) {
    footer {
        position: absolute;
        width: 90%;
        padding: 5%;
        margin-top: 55%;
        font-size: 18px;
    }
    #text-footer {
        column-count: 3;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #bottom-three {
        margin-bottom: 45%;
    }
}

@media (max-width:1400px) {
    footer {
        position: absolute;
        width: 90%;
        padding: 5%;
        margin-top: 70%;
        font-size: 17px;
    }
    footer p {
        font-size: 18px;
    }
    #bottom-one {
        padding-top: 45%;
    }
}

@media (max-width:1300px) {
    footer {
        position: absolute;
        width: 90%;
        padding: 5%;
        margin-top: 70%;
        font-size: 17px;
    }
    footer p {
        font-size: 18px;
    }
    #bottom-two {
        padding-top: 45%;
    }
}

@media (max-width:1300px) {
    footer {
        margin-top: 80%;
    }
}

@media (max-width:1250px) {
    footer {
        position: absolute;
        width: 90%;
        padding: 5%;
        margin-top: 110%;
        font-size: 15px;
    }
}

@media (max-width:900px) {
    footer {
        margin-top: 130%;
    }
    footer p {
        font-size: 20px;
    }
    #text-footer {
        column-count: 3;
    }
    #bottom-three {
        margin-top: 55%;
    }
    #bottom-two {
        padding-top: 45%;
    }
}

@media (max-width:800px) {
    footer {
        margin-top: 140%;
    }
}

@media (max-width:760px) {
    footer {
        margin-top: 300%;
    }
}

@media (max-width:700px) {
    footer p {
        font-size: 20px;
    }
    #text-footer {
        font-size: 20px;
        display: inline-block;
        column-count: 1;
    }
    #bottom-two {
        margin-top: 0%;
    }
    #bottom-three {
        margin-top: 0%;
    }
}

@media (max-width:650px) {
    footer {
        margin-top: 350%;
    }
}

@media (max-width:550px) {
    footer {
        margin-top: 370%;
    }
}

@media (max-width:510px) {
    footer {
        margin-top: 420%;
    }
}

@media (max-width:450px) {
    footer {
        margin-top: 460%;
    }
}

@media (max-width:420px) {
    footer {
        margin-top: 500%;
    }
}

@media (max-width:390px) {
    footer {
        margin-top: 550%;
    }
}

@media (max-width:350px) {
    footer {
        margin-top: 590%;
        width: 120%;
    }
}

@media (max-width:320px) {
    footer {
        margin-top: 620%;
    }
}