body {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
}

.all-news {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.news {
    background-color: white;
    border-radius: 2%;
    padding: 3%;
    margin-top: 5%;
    flex-basis: 40%;
}

.hide {
    display: none;
}

.read-more {
    height: 30px;
    width: 120px;
    background-color: black;
    color: yellowgreen;
    border-radius: 2px;
    border: 3px solid black;
}

a {
    text-decoration: none;
    color: white;
}
.divimage {
    overflow: hidden;
    height: 200px;
    width: 300px;
    
}
img {
    width: 100%;
    height: 100%;
    transition-property: width, height;
    transition-duration: 0.5s;
}
img:hover {
    width: 320px;
    height: 220px;
}